@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   input[type='date']::-webkit-calendar-picker-indicator {
      filter: invert(30%);
   }
   input[type='time']::-webkit-calendar-picker-indicator {
      filter: invert(50%);
   }
   input[type='number']::-webkit-inner-spin-button,
   input[type='number']::-webkit-outer-spin-button {
      filter: invert(85%);
   }
   input[type='file']::file-selector-button {
      color: #374151;
      margin-right: 10px;
      border: 1px solid #374151;
      padding: 5px 20px;
      border-radius: 5px;
      background-color: #16161f;
   }
   ::-webkit-scrollbar {
      border-left: 1px solid #16161f;
      background-color: #12121a;
      width: 15px;
   }

   ::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 1px solid #16161f;
      background-color: #2c3041;
   }
   .text-shadow {
      text-shadow: 1px 1px 3px rgb(27, 27, 27);
   }
   .text-shadow-light {
      text-shadow: 1px 1px 3px rgb(61, 61, 61);
   }
}
